* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
}
.body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.about-section{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.about-img{
    width: 30%;
    height: auto;
    border-radius: 50%;
}

