* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
}
.nav-button {
    background-color: white;
    border-radius: 50%;
    align-items: center;
    position: fixed;
    width: 40px;
    height: 40px;
    border: 0;
    left: 80px;
    top: 20px;
    z-index: 100;
}
.nav-button img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.nav-button:hover{
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 2px 5px #2e2e2ea8;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
}

/* .nav-button {
    background-color: white;
    border-radius: 50%;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    border: 0;
    right: 20px;
    top: 20px;
}
.nav-button img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px
}
.nav-button:hover{
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 2px 5px #2e2e2ea8;
    cursor: pointer;
} */

.home-text{
    color: #000000;
    margin-top: 70px;
    padding-bottom: 50px;
}
.home{
    background-color: #444444;
    color: #5add8c;
    padding-top: 50px;
    background-image: url('waffle.jpg') fixed 100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
    min-height: 400px;
}
.parallex {
    background: url(waffle.jpg) repeat fixed 100%;
    background-position: center;
    background-size: cover; 
}
.title{
    margin-left: 15%; 
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 4em;
}
.description{
    margin-left: 15%; 
    margin-right: 15%;
    font-size: 2em;
}
.zoom {
    height: 200px;
    transform: translateY(-50%) scale(1.5);
    overflow: hidden;
}
.content {
    margin-top: 100vh;
    padding: 20px;
}
.sustainability{
    color: black;
    display: flex;
    width: 100%;
    margin-left: 0;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 50px;
    transition: .5s;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    margin-bottom: 50px;
}
.left-row{
    width: 90%;
}
.sustainability-title{
    color: black;
    width: 100%;
    text-align: left;
    text-decoration: underline;
    font-size: 3em;
    margin-bottom: 20px;
}
.sustainability-description{
    color: black;
    width: 100%;
    text-align: justify;
    font-size: 20px;
}
.right-row{
    display: flex;
    flex-direction: column;
    margin: 10px;

    width: 30%;
    align-items: flex-end;
}
.hover-icon {
    width: 70px;
    height: 70px;
    background-color: #e3aa39;
    border-radius: 50%;
    margin: 15px;
    transition: transform 0.5s;
    align-self: flex-end;
}
.hover-icon img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.hover-icon:first-child {
    margin-top: auto;
}
.hover-icon:last-child {
    margin-bottom: auto;
}
.ingredients-icon{
    background-color: #dbb260;
}
.ingredients-icon:hover {
    transform: scale(1.1);
}
.waste-icon{
    background-color: #f89d68;
}
.waste-icon:hover {
    transform: scale(1.1);
}
.packaging-icon{
    background-color: #d17760;
}
.home button{
    background-color: #36373f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    margin-top: 350px;
    border: rgb(255, 255, 255) 1px solid;
}
.home button:hover{
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 2px 10px #2e2e2ea8;
}
.button-div{
    width: 70%;
    margin-left: 15%;
    display: flex;
}
.specials-title{
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #a4dab4;}
.specials{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
    background-color: #a4dab4;
}
.special-column{
    width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #e2b355;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}

.special-column:hover{
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: 0 2px 5px #2e2e2ea8;
}
.special-column img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transform: scale(1.01);
    bottom: 0;
}
.special-name{
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.testamonials{
    width: 100%;
    padding-left: 7.7vw;
    padding-right: 7.7vw;
    display: flex;
    background-color: rgb(245, 213, 172);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.testamonial-column{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    background-color: #36373f;
    border: 1px solid rgb(157, 156, 167);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.testamonials-title{
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: rgb(245, 213, 172);
}
.testamonial-text{
    text-align: center;
    margin-bottom: 10px;
}
.testamonial-name{
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
}
.testamonial-image{
    width: 100px;
    height: 100px;
    border-radius: 500px;
    margin-bottom: 10px;
    border: 5px solid antiquewhite;
}
.testamonial-rating{
    width: 30%;
    height: auto;
}
@media (max-width: 1800px) {
    .home {
        padding-top: 30px;
        padding-bottom: 5px;
    }
    .title {
        font-size: 3em;
        margin-left: 10%;
    }
    .description {
        font-size: 1.5em;
        margin-left: 10%;
        margin-right: 10%;
    }
    .sustainability {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .sustainability-title {
        font-size: 2.5em;
    }
    .sustainability-description {
        font-size: 18px;
    }
    .right-row {
        width: 40%;
    }
    .hover-icon {
        width: 60px;
        height: 60px;
    }
    .hover-icon img {
        width: 40px;
        height: 40px;
        margin: 10px;
    }
}
@media (max-width: 1200px) {
    .home {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .title {
        font-size: 2.5em;
        margin-left: 5%;
    }
    .description {
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
    }
    .sustainability {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .sustainability-title {
        font-size: 2em;
    }
    .sustainability-description {
        font-size: 16px;
    }
    .left-row{
        width: 80%;
    }
    .right-row {
        width: 20%;
    }
    .hover-icon {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }
    .hover-icon img {
        width: 40px;
        height: 40px;
        margin: 5px;
    }
    .testamonial-text{
        font-size: .8em;
    }
}