* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.home{
    background-color: #e3aa39;
    color: white;
    padding-top: 50px;
    background-image: url('barn.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
}

.title{
    margin-left: 15%; 
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 4em;
}
.description{
    margin-left: 15%; 
    margin-right: 15%;
    font-size: 2em;
}
.zoom {
    height: 200px;
    transform: translateY(-50%) scale(1.5);
    overflow: hidden;
}
.content {
    margin-top: 100vh;
    padding: 20px;
}
.sustainability{
    color: black;
    display: flex;
    width: 100%;
    margin-left: 0;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 50px;
    transition: .5s;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left-row{
    width: 90%;
}
.sustainability-title{
    color: black;
    width: 100%;
    text-align: left;
    text-decoration: underline;
    font-size: 3em;
    margin-bottom: 20px;
}
.sustainability-description{
    color: black;
    width: 100%;
    text-align: justify;
    font-size: 20px;
}
.right-row{
    display: flex;
    flex-direction: column;
    margin: 10px;

    width: 30%;
    align-items: flex-end;
}
.hover-icon {
    width: 70px;
    height: 70px;
    background-color: #e3aa39;
    border-radius: 50%;
    margin: 15px;
    transition: transform 0.5s;
    align-self: flex-end;
}
.hover-icon img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.hover-icon:first-child {
    margin-top: auto;
}
.hover-icon:last-child {
    margin-bottom: auto;
}
.ingredients-icon{
    background-color: #e3aa39;
}
.ingredients-icon:hover {
    transform: scale(1.1);
}
.waste-icon{
    background-color: #ff7321;
}
.waste-icon:hover {
    transform: scale(1.1);
}
.packaging-icon{
    background-color: #ec5732;
}
@media (max-width: 1800px) {
    .home {
        padding-top: 30px;
        padding-bottom: 5px;
    }
    .title {
        font-size: 3em;
        margin-left: 10%;
    }
    .description {
        font-size: 1.5em;
        margin-left: 10%;
        margin-right: 10%;
    }
    .sustainability {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .sustainability-title {
        font-size: 2.5em;
    }
    .sustainability-description {
        font-size: 18px;
    }
    .right-row {
        width: 40%;
    }
    .hover-icon {
        width: 60px;
        height: 60px;
    }
    .hover-icon img {
        width: 40px;
        height: 40px;
        margin: 10px;
    }
}
@media (max-width: 1200px) {
    .home {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .title {
        font-size: 2.5em;
        margin-left: 5%;
    }
    .description {
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
    }
    .sustainability {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .sustainability-title {
        font-size: 2em;
    }
    .sustainability-description {
        font-size: 16px;
    }
    .left-row{
        width: 80%;
    }
    .right-row {
        width: 20%;
    }
    .hover-icon {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }
    .hover-icon img {
        width: 40px;
        height: 40px;
        margin: 5px;
    }
}