html {
    margin:0;
    padding:0;
    border:0;
    font-family: Merriweather;
}

.container {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(33, 61, 48, 0.6), rgba(33, 61, 48, 0.6), rgba(33, 61, 48, 0.6)), 
    url(menuImages/MenuTitleBackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 0;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    color:dimgray;
}

.container h1 {
    text-align: center;
    font-size: 475%;
    color: #efefef;
    text-transform: uppercase;
    letter-spacing: 1%;
    padding: 8% 0;

}

h2 {
    text-align: center;
    font-size: 275%;
    color: #efefef;
    text-transform: uppercase;
    letter-spacing: 1%;
}

.top-border {
    width: 60%;
    height: 15vh;
    background-image: url(menuImages/vintage-border-top.jpg);
    background-position: center;
    background-size: cover;
    padding: 2% 0;
    margin: auto;
    
}

h3 {
    text-align: center;
    font-size: 120%;
    color: #213d30;
    text-transform: uppercase;
    letter-spacing: 1%;
    padding: 2% 18%;
    line-height: 1.5;
}

.description a {
    text-decoration: none;
}
.menubutton {
    background-color: #ffffff;
    color: #976f41;
    border-color: #976f41;
    padding: 15px 32px;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    margin: 0 auto;
}

.menubutton:hover {
    background-color: #976f41;
    color: #ffffff;
}

.bottom-border {
    width: 60%;
    height: 15vh;
    background-image: url(menuImages/vintage-border-bottom.jpg) no;
    background-position: center;
    background-size: cover;
    padding: 2% 0;
    margin: auto;
}


/*Start Parallex*/
.starter .parallex {
    background: url(menuImages/StarterBackground.jpg) repeat fixed 100%;
    background-position: center;
    background-size: cover;
}

.parallex-inner {
   padding-top: 5%;
   padding-bottom: 5%;
}
/*End Parallex*/

.wrapper {
    border: #976f41;
    border-bottom-width: 0.25em;
    border-bottom-style: groove;
}

.details {
    display: flex;
    font-size: 150%;
    color: #213d30;
    text-transform: uppercase;
    letter-spacing: 1%;
    padding: 2% 5%;
    line-height: 1.5;
}

.info {
    width: 90%;
    align-items: right;
}

.price {
    width: 10%;
    align-items: right;
}

/*Start Parallex*/
.main-course .parallex {
    background: url(menuImages/MainCourseBackground.jpg) repeat fixed 100%;
    background-position: center;
    background-size: cover;
}

.parallex-inner {
   padding-top: 5%;
   padding-bottom: 5%;
}
/*End Parallex*/

/*Start Parallex*/
.specials .parallex {
    background: url(menuImages/SpecialsBackground.jpg) repeat fixed 100%;
    background-position: center;
    background-size: cover;
}

.parallex-inner {
   padding-top: 5%;
   padding-bottom: 5%;
}
/*End Parallex*/

/*Start Parallex*/
.desserts .parallex {
    background: url(menuImages/DessertBackground.jpg) repeat fixed 100%;
    background-position: center;
    background-size: cover;
}

.parallex-inner {
   padding-top: 5%;
   padding-bottom: 5%;
}
/*End Parallex*/

/*Start Parallex*/
.drinks .parallex {
    background: url(menuImages/DrinksBackground.jpg) repeat fixed 100%;
    background-position: center;
    background-size: cover;
}

.parallex-inner {
   padding-top: 5%;
   padding-bottom: 5%;
}
/*End Parallex*/
